.page-header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  max-width: 1108px;
  margin: 0 auto;
  border-bottom: 1px solid var(--grayish-blue-300);
  padding: 28px 15px 0;
  width: 100%;
}

.page-header__logo {
  padding-right: 18px;
}

.menu-button-wrapper {
  display: none;
}

/* Menu */

.page-header__menu {
  z-index: 7;
}

.close-menu-button {
  display: none;
}

.page-header__menu-list {
  list-style: none;
  display: flex;
  gap: 35px;
}

.page-header__menu-item-link {
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: var(--grayish-blue-500);
  transition: all 0.1s linear;
}
.page-header__menu-item-link:hover {
  color: #000000;
  border-color: var(--orange);
}

/* User Items */

.page-header__user-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.user-items__cart-button {
  position: relative;
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s linear;
}
.cart-icon {
  transition: all 0.2s linear;
}
.user-items__cart-button:hover > .cart-icon {
  filter: brightness(0) saturate(100%);
}

.cart-button__amount-items {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 2px;
  width: 20px;
  height: 14px;
  border-radius: 10px;
}

.user-items__user-image {
  width: 50px;
  border-radius: 50%;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: outline 0.2s linear;
}
.user-items__user-image:hover {
  outline-color: var(--orange);
}

@media (min-width: 769px) {
  .page-header__menu {
    height: 100%;
  }
  .page-header__menu-list {
    height: 100%;
  }
  .page-header__menu-item-link {
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .page-header__logo,
  .page-header__menu-item-link,
  .page-header__user-items {
    padding-bottom: 32px;
  }
}

@media (max-width: 778px) {
  .page-header__wrapper {
    padding: 20px 24px;
    grid-template-columns: 0.5fr 3fr 1fr;
    width: 100%;
  }

  .menu-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-button {
    background-color: transparent;
    border: 0;
  }
  .menu-hamburger {
    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
  }

  .menu-hamburger-line {
    height: 3px;
    background-color: var(--grayish-blue-500);
  }

  .page-header__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 250px;
    top: 0;
    left: -250px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 26px;
    transition: left 0.2s linear;
  }

  .page-header__menu.open {
    left: 0;
  }

  .close-menu-button {
    display: block;
    border: 0;
    padding: 0;
    background-color: transparent;
    align-self: flex-start;
  }
  .page-header__menu-list {
    flex-direction: column;
  }

  .page-header__menu-item-link {
    color: var(--dark-blue);
    font-weight: 700;
  }

  .page-header__user-items {
    gap: 20px;
  }

  .user-items__user-image {
    width: 25px;
  }
}
@media (max-width: 992px) {
  .page-header__wrapper {
    border: 0;
  }
}
